<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form action="/signup" method="post">
    <div>
        <label for="">username:</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="">email:</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="">password:</label>
        <input type="password" name="password">
    </div>
    <div>
        <label for="">password (repeat):</label>
        <input type="password" name="password2">
    </div>
    <div>
        <input type="submit" value="signup">
    </div>
</form>
</body>
</html>